@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>
<p>This app provides a POC for authenticating with Azure AD B2C.</p>
<p>A B2C tenant has been created at B2CAzureADEPR.onmicrosoft.com.</p>
<p>Within this tenant two applications have been registered:</p>
<ol>
    <li>B2CAzureADEPRWeb -This web front end, which represents the EPR application and is secured with Azure B2C.</li>
    <li>B2CAzureADEPRApi - A sample web service that is secured with same token as this web front end and has this token passed to it in an API call.</li>
</ol>

<p>Within the B2C tenant two user flows have been created:</p>
<ol>
    <li>B2CSignUpIn - for signup, login, reset password</li>
    <li>B2C_1_Edit - for editing of the logged in user account</li>
</ol>


